
   <link rel="stylesheet" href="../styles/style.css" />
    <header>
      <h1 class="logo">Angel Shop</h1>
    </header>
    
    <nav class="nav">
      <ul class="aside-menu">
        <li>
          <button class="aside-btn" id="items">
            <i class="bi bi-basket"></i>Items
          </button>
        </li>
        <li>
          <button class="aside-btn" id="food">
            <i class="bi bi-basket"></i>Food
          </button>
        </li>
        <li>
          <button class="aside-btn" id="tech">
            <i class="bi bi-basket"></i>Tech
          </button>
        </li>
        <li>
          <a class="aside-btn" id="cart-btn" href="../cart.html"
            ><i class="bi bi-cart-check-fill"></i>Shopping Cart
            <p class="num-items">0</p>
          </a>
        </li>
      </ul>
    </nav>
    
    <footer>
      <img src="" alt="" />
      <p class="footer-text">
        &copy2023 Angel Velasco <br />
        All rights reserved
      </p>
    </footer>
    

