<link rel="stylesheet" href="../styles/style.css">

<header>
    <h1 class="logo">Angel Shop</h1>
</header>
<nav class="nav">
    <ul class="aside-menu">
        <li  >
            <a class="aside-btn" id="category-btn active" href="../index.html"><i class="bi bi-basket"></i>Go Back</a>
        </li>
        <li  >
            <a class="aside-btn" id="cart-btn" href="../cart.html"><i class="bi bi-cart-check-fill"></i>Shopping Cart
            </a>
        </li>
    </ul>
</nav>

<footer>
    <img src="" alt="">
    <p class="footer-text">
        &copy2023 Angel Velasco<br>  All Rights reserved
    </p>
</footer>